@media screen and (max-width: 1700px) {
  #header #menu {
    width: 45%;
  }
}

@media screen and (max-width: 1560px) {
  #main #home #title {
    width: 50%;
    left: -50%;
  }
  @-webkit-keyframes title-animation {
    0% {
      left: -50%;
    }
    100% {
      left: 10%;
    }
  }
  @keyframes title-animation {
    0% {
      left: -50%;
    }
    100% {
      left: 10%;
    }
  }
}

@media screen and (max-width: 1500px) {
  #header #menu {
    width: 50%;
  }
  #main #projects .section-main #my-projects .project .link-text p:first-of-type {
    font-size: 20px;
  }
  #main #projects .section-main #my-projects .project .link-text p:last-of-type {
    font-size: 18px;
  }
  #main #about-me .section-header h2::before {
    width: 38%;
  }
  #main #about-me .section-header h2::after {
    width: 38%;
  }
  #main #about-me .section-main #image-section #border {
    height: 50vh;
  }
  #main #about-me .section-main #image-section #full {
    height: 50vh;
  }
  #main #contact .section-main #form {
    width: 50%;
    margin-right: 6%;
  }
}

@media screen and (max-width: 1450px) {
  #footer #copyright {
    width: 50%;
  }
  #footer #social-media {
    left: 15%;
  }
}

@media screen and (max-width: 1370px) {
  #main #home #title {
    top: 45%;
  }
}

@media screen and (max-width: 1300px) {
  #main #skills .section-main #my-skills .skill .icon {
    width: 30%;
  }
  #main #skills .section-main #my-skills .skill .skill-text p {
    font-size: 17px;
  }
  #main #projects .section-main #my-projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main #projects .section-main #my-projects .project {
    width: 60%;
    left: 0;
  }
  #main #projects .section-main #my-projects .project .link-text p:first-of-type {
    font-size: 22px;
  }
  #main #projects .section-main #my-projects .project .link-text p:last-of-type {
    font-size: 20px;
  }
  #main #projects .section-main #my-projects .project:last-child {
    top: 40px;
  }
  #main #about-me .section-main #short-bio p {
    font-size: 18px;
  }
  #main #contact .section-main #contact-info .info .info-text p {
    font-size: 20px;
  }
  #footer #links ul {
    width: 35%;
  }
}

@media screen and (max-width: 1250px) {
  #main #projects .section-header h2::before {
    width: 38%;
  }
  #main #projects .section-header h2::after {
    width: 38%;
  }
  #main #about-me .section-header h2::before {
    width: 36%;
  }
  #main #about-me .section-header h2::after {
    width: 36%;
  }
  #main #about-me .section-main #image-section #border {
    height: 45vh;
  }
  #main #about-me .section-main #image-section #full {
    height: 45vh;
  }
  #main #contact .section-header h2::before {
    width: 37%;
  }
  #main #contact .section-header h2::after {
    width: 37%;
  }
}

@media screen and (max-width: 1220px) {
  #header #menu ul li a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1150px) {
  .section-header h2::before {
    width: 35%;
  }
  .section-header h2::after {
    width: 35%;
  }
  #main #skills .section-main #my-skills .skill header h3 {
    font-size: 20px;
  }
  #main #projects .section-header h2::before {
    width: 33%;
  }
  #main #projects .section-header h2::after {
    width: 33%;
  }
  #main #about-me .section-header h2::before {
    width: 32%;
  }
  #main #about-me .section-header h2::after {
    width: 32%;
  }
  #main #about-me .section-main #image-section #border {
    height: 40vh;
  }
  #main #about-me .section-main #image-section #full {
    height: 40vh;
  }
  #main #contact .section-header h2::before {
    width: 32%;
  }
  #main #contact .section-header h2::after {
    width: 32%;
  }
  #footer #copyright p {
    font-size: 18px;
  }
  #footer #links ul li a {
    font-size: 16.5px;
  }
}

@media screen and (max-width: 1110px) {
  #header #menu {
    width: 57%;
  }
  #main #home #title {
    width: 70%;
    left: -70%;
  }
  #main #home #title h1 {
    font-size: 40px;
  }
  @-webkit-keyframes title-animation {
    0% {
      left: -70%;
    }
    100% {
      left: 15%;
    }
  }
  @keyframes title-animation {
    0% {
      left: -70%;
    }
    100% {
      left: 15%;
    }
  }
  #main #contact .section-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main #contact .section-main #contact-info {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main #contact .section-main #contact-info .info:nth-child(2) {
    margin: 0 30px;
  }
  #main #contact .section-main #form {
    width: 70%;
    margin: 60px 0 0;
  }
}

@media screen and (max-width: 1050px) {
  #main #skills .section-main #my-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main #skills .section-main #my-skills .skill {
    width: 34%;
  }
  #main #skills .section-main #my-skills .skill:nth-child(2) {
    margin: 0 0 0 80px;
  }
  #main #skills .section-main #my-skills .skill:last-child {
    margin-top: 50px;
  }
  #main #projects .section-main #my-projects .project {
    width: 70%;
  }
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer #copyright {
    width: 100%;
    left: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #footer #social-media {
    width: 15%;
    left: 0;
    top: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #footer #links {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 20px;
  }
  #footer #links ul {
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  #header {
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header #menu {
    width: 85%;
  }
}

@media screen and (max-width: 960px) {
  #main #about-me {
    padding-bottom: 80px;
  }
  #main #about-me .section-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
  }
  #main #about-me .section-main #image-section {
    width: 50%;
    left: 0;
  }
  #main #about-me .section-main #image-section #border {
    height: 55vh;
  }
  #main #about-me .section-main #image-section #full {
    height: 55vh;
  }
  #main #about-me .section-main #short-bio {
    width: 50%;
    margin: 115px 0 0;
  }
}

@media screen and (max-width: 900px) {
  #main #contact .section-main #contact-info .info .icon-info {
    width: 80px;
    height: 80px;
  }
  #main #contact .section-main #contact-info .info .icon-info i {
    font-size: 26px;
  }
  #main #contact .section-main #form #contact-form .input-4 {
    width: 25%;
  }
}

@media screen and (max-width: 880px) {
  #main #home #title {
    width: 80%;
    left: -80%;
  }
  #main #home #title h1 {
    font-size: 40px;
  }
  @-webkit-keyframes title-animation {
    0% {
      left: -80%;
    }
    100% {
      left: 10%;
    }
  }
  @keyframes title-animation {
    0% {
      left: -80%;
    }
    100% {
      left: 10%;
    }
  }
}

@media screen and (max-width: 850px) {
  #main #about-me .section-main #image-section #border {
    height: 47vh;
  }
  #main #about-me .section-main #image-section #full {
    height: 47vh;
  }
  #main #about-me .section-main #short-bio {
    width: 60%;
    margin-top: 115px;
  }
  #footer #links ul {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  #main #skills .section-main #my-skills .skill {
    width: 75%;
  }
  #main #skills .section-main #my-skills .skill:nth-child(2) {
    margin: 50px 0;
  }
  #main #skills .section-main #my-skills .skill:last-child {
    margin-top: 0;
  }
  #main #skills .section-main #my-skills .skill .icon {
    width: auto;
  }
  #main #skills .section-main #my-skills .skill .skill-text p {
    font-size: 18px;
  }
}

@media screen and (max-width: 750px) {
  #main #projects .section-header h2::before {
    width: 31%;
  }
  #main #projects .section-header h2::after {
    width: 31%;
  }
  #main #about-me .section-header h2::before {
    width: 30%;
  }
  #main #about-me .section-header h2::after {
    width: 30%;
  }
  #main #contact .section-header h2::before {
    width: 30%;
  }
  #main #contact .section-header h2::after {
    width: 30%;
  }
}

@media screen and (max-width: 700px) {
  #main #projects .section-main #my-projects .project .link-text p:first-of-type {
    font-size: 20px;
  }
  #main #projects .section-main #my-projects .project .link-text p:last-of-type {
    font-size: 18px;
  }
  #main #about-me .section-header h2::before {
    width: 28%;
  }
  #main #about-me .section-header h2::after {
    width: 28%;
  }
  #main #about-me .section-main #image-section #border {
    height: 43vh;
  }
  #main #about-me .section-main #image-section #full {
    height: 43vh;
  }
  #main #about-me .section-main #short-bio p {
    font-size: 16px;
  }
  #main #contact .section-main #contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #main #contact .section-main #contact-info .info .icon-info {
    width: 70px;
    height: 70px;
  }
  #main #contact .section-main #contact-info .info .icon-info:hover {
    background-color: rgba(237, 155, 2, 0.5);
  }
  #main #contact .section-main #contact-info .info .icon-info:hover i {
    color: black;
  }
  #main #contact .section-main #contact-info .info:nth-child(2) {
    margin: 15px 0;
  }
  #main #contact .section-main #contact-info .info .info-text {
    display: block;
  }
  #footer #social-media {
    width: 20%;
  }
  #footer #links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer #links ul li:nth-child(2) {
    margin: 5px 0;
  }
}

@media screen and (max-width: 650px) {
  .section-header h2::before {
    width: 30%;
  }
  .section-header h2::after {
    width: 30%;
  }
  #main #home #title h1 {
    width: 90%;
    left: 14%;
    font-size: 35px;
    letter-spacing: 1px;
  }
  @-webkit-keyframes title-animation {
    0% {
      left: 14%;
    }
    100% {
      left: 14%;
    }
  }
  @keyframes title-animation {
    0% {
      left: 14%;
    }
    100% {
      left: 14%;
    }
  }
  #main #projects .section-header h2::before {
    width: 26%;
  }
  #main #projects .section-header h2::after {
    width: 26%;
  }
  #main #projects .section-main #my-projects .project .link-text p:first-of-type {
    font-size: 18px;
  }
  #main #about-me .section-header h2::before {
    width: 24%;
  }
  #main #about-me .section-header h2::after {
    width: 24%;
  }
  #main #contact .section-header h2::before {
    width: 25%;
  }
  #main #contact .section-header h2::after {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  #header {
    padding-bottom: 0;
  }
  #header #menu {
    width: 100%;
    text-align: center;
  }
  #header #menu #menu-button {
    width: 100%;
    display: block;
    padding: 15px 0;
    background-color: rgba(237, 155, 2, 0.5);
  }
  #header #menu #menu-button p {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
  }
  #header #menu #menu-button p i {
    position: relative;
    left: -10px;
  }
  #header #menu ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header #menu ul li {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid white;
    background-color: rgba(191, 191, 191, 0.6);
    display: none;
  }
  #header #menu ul li:last-child {
    border-bottom: 0;
  }
  #header #menu:hover ul li {
    display: block;
  }
  #main #home #title {
    top: 47%;
  }
  #main #home #title h1 {
    font-size: 31px;
  }
  #main #about-me .section-main #image-section {
    width: 65%;
  }
}

@media screen and (max-width: 570px) {
  #main #projects .section-main #my-projects .project {
    width: 70%;
  }
  #main #projects .section-main #my-projects .project .link-text {
    width: 80%;
  }
  #main #contact .section-main #contact-info .info .icon-info {
    width: 60px;
    height: 60px;
  }
  #main #contact .section-main #contact-info .info .icon-info i {
    font-size: 22px;
  }
  #main #contact .section-main #contact-info .info .info-text p {
    font-size: 18px;
  }
  #main #contact .section-main #form #contact-form .input-4 {
    width: 30%;
  }
  #footer #copyright {
    width: 90%;
  }
  #footer #social-media {
    width: 25%;
  }
}

@media screen and (max-width: 520px) {
  #main #home #title h1 {
    font-size: 27px;
    line-height: 40px;
  }
  #main #about-me .section-main #short-bio {
    padding: 25px;
  }
}

@media screen and (max-width: 500px) {
  .section-header h2::before {
    width: 24%;
  }
  .section-header h2::after {
    width: 24%;
  }
  #main #skills .section-main #my-skills .skill .icon {
    width: 25%;
  }
  #main #skills .section-main #my-skills .skill .skill-text p {
    font-size: 17px;
  }
  #main #about-me .section-header h2::before {
    width: 17%;
  }
  #main #about-me .section-header h2::after {
    width: 17%;
  }
  #main #projects .section-header h2::before {
    width: 19%;
  }
  #main #projects .section-header h2::after {
    width: 19%;
  }
  #main #projects .section-main #my-projects .project .link-text p:first-of-type {
    font-size: 16px;
  }
  #main #projects .section-main #my-projects .project .link-text p:last-of-type {
    font-size: 16px;
  }
  #main #contact .section-header h2::before {
    width: 18%;
  }
  #main #contact .section-header h2::after {
    width: 18%;
  }
}

@media screen and (max-width: 470px) {
  #main #about-me .section-main #image-section #border {
    height: 37vh;
  }
  #main #about-me .section-main #image-section #full {
    height: 37vh;
  }
  #main #contact .section-main #contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main #contact .section-main #contact-info .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main #contact .section-main #contact-info .info .info-text {
    margin: 20px 0 0;
  }
  #footer #copyright p {
    font-size: 17px;
  }
  #footer #social-media {
    width: 30%;
  }
}

@media screen and (max-width: 450px) {
  #main #projects .section-main #my-projects .project .link-text p:first-of-type {
    font-size: 13px;
  }
  #main #projects .section-main #my-projects .project .link-text p:last-of-type {
    font-size: 13px;
  }
}

@media screen and (max-width: 420px) {
  #main #about-me .section-main #image-section #border {
    height: 32vh;
  }
  #main #about-me .section-main #image-section #full {
    height: 32vh;
  }
  #main #about-me .section-main #short-bio p {
    font-size: 15px;
  }
  #main #contact .section-main #form #contact-form .input-4 {
    width: 35%;
  }
}

@media screen and (max-width: 400px) {
  .section-header h2 {
    letter-spacing: 1px;
    font-size: 28px;
  }
}

@media screen and (max-width: 370px) {
  .section-header h2 {
    font-size: 26px;
  }
  .section-header h2::before {
    margin-right: 20px;
  }
  .section-header h2::after {
    margin-left: 20px;
  }
}

@media screen and (max-width: 350px) {
  #main #projects .section-main #my-projects .project .link-text {
    width: 80%;
    padding: 3% 0;
  }
  #main #about-me .section-main #image-section #border {
    height: 25vh;
  }
  #main #about-me .section-main #image-section #full {
    height: 25vh;
  }
}
/*# sourceMappingURL=responsive.css.map */